<a href="https://colab.research.google.com/github/wrya-karimi/Airline_Sentiment_Analysis/blob/main/airline_sentiment_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [56]:
import pandas as pd
import numpy as np

In [57]:
print(pd.__version__)

1.4.3

#Load Dataset

In [58]:
tweets_df = pd.read_csv("https://raw.githubusercontent.com/satyajeetkrjha/kaggle-Twitter-US-Airline-Sentiment-/master/Tweets.csv")

In [59]:
tweets_df.columns

Index(['tweet_id', 'airline_sentiment', 'airline_sentiment_confidence',
       'negativereason', 'negativereason_confidence', 'airline',
       'airline_sentiment_gold', 'name', 'negativereason_gold',
       'retweet_count', 'text', 'tweet_coord', 'tweet_created',
       'tweet_location', 'user_timezone'],
      dtype='object')

In [60]:
tweets_df.describe

<bound method NDFrame.describe of                  tweet_id airline_sentiment  airline_sentiment_confidence  \
0      570306133677760513           neutral                        1.0000
1      570301130888122368          positive                        0.3486
2      570301083672813571           neutral                        0.6837
3      570301031407624196          negative                        1.0000
4      570300817074462722          negative                        1.0000
...                   ...               ...                           ...
14635  569587686496825344          positive                        0.3487
14636  569587371693355008          negative                        1.0000
14637  569587242672398336           neutral                        1.0000
14638  569587188687634433          negative                        1.0000
14639  569587140490866689           neutral                        0.6771

               negativereason  negativereason_confidence         airline  \
0                         NaN                        NaN  Virgin America
1                         NaN                     0.0000  Virgin America
2                         NaN                        NaN  Virgin America
3                  Bad Flight                     0.7033  Virgin America
4                  Can't Tell                     1.0000  Virgin America
...                       ...                        ...             ...
14635                     NaN                     0.0000        American
14636  Customer Service Issue                     1.0000        American
14637                     NaN                        NaN        American
14638  Customer Service Issue                     0.6659        American
14639                     NaN                     0.0000        American

      airline_sentiment_gold             name negativereason_gold  \
0                        NaN          cairdin                 NaN
1                        NaN         jnardino                 NaN
2                        NaN       yvonnalynn                 NaN
3                        NaN         jnardino                 NaN
4                        NaN         jnardino                 NaN
...                      ...              ...                 ...
14635                    NaN  KristenReenders                 NaN
14636                    NaN         itsropes                 NaN
14637                    NaN         sanyabun                 NaN
14638                    NaN       SraJackson                 NaN
14639                    NaN        daviddtwu                 NaN

       retweet_count                                               text  \
0                  0                @VirginAmerica What @dhepburn said.
1                  0  @VirginAmerica plus you've added commercials t...
2                  0  @VirginAmerica I didn't today... Must mean I n...
3                  0  @VirginAmerica it's really aggressive to blast...
4                  0  @VirginAmerica and it's a really big bad thing...
...              ...                                                ...
14635              0  @AmericanAir thank you we got on a different f...
14636              0  @AmericanAir leaving over 20 minutes Late Flig...
14637              0  @AmericanAir Please bring American Airlines to...
14638              0  @AmericanAir you have my money, you change my ...
14639              0  @AmericanAir we have 8 ppl so we need 2 know h...

      tweet_coord              tweet_created tweet_location  \
0             NaN  2015-02-24 11:35:52 -0800            NaN
1             NaN  2015-02-24 11:15:59 -0800            NaN
2             NaN  2015-02-24 11:15:48 -0800      Lets Play
3             NaN  2015-02-24 11:15:36 -0800            NaN
4             NaN  2015-02-24 11:14:45 -0800            NaN
...           ...                        ...            ...
14635         NaN  2015-02-22 12:01:01 -0800            NaN
14636         NaN  2015-02-22 11:59:46 -0800          Texas
14637         NaN  2015-02-22 11:59:15 -0800  Nigeria,lagos
14638         NaN  2015-02-22 11:59:02 -0800     New Jersey
14639         NaN  2015-02-22 11:58:51 -0800     dallas, TX

                    user_timezone
0      Eastern Time (US & Canada)
1      Pacific Time (US & Canada)
2      Central Time (US & Canada)
3      Pacific Time (US & Canada)
4      Pacific Time (US & Canada)
...                           ...
14635                         NaN
14636                         NaN
14637                         NaN
14638  Eastern Time (US & Canada)
14639                         NaN

[14640 rows x 15 columns]>

In [61]:
tweets_df.shape

(14640, 15)

In [62]:
tweets_df.head()

,tweet_id,airline_sentiment,airline_sentiment_confidence,negativereason,negativereason_confidence,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_location,user_timezone
0,570306133677760513,neutral,1.0000,NaN,NaN,Virgin America,NaN,cairdin,NaN,0,@VirginAmerica What @dhepburn said.,NaN,2015-02-24 11:35:52 -0800,NaN,Eastern Time (US & Canada)
1,570301130888122368,positive,0.3486,NaN,0.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica plus you've added commercials t...,NaN,2015-02-24 11:15:59 -0800,NaN,Pacific Time (US & Canada)
2,570301083672813571,neutral,0.6837,NaN,NaN,Virgin America,NaN,yvonnalynn,NaN,0,@VirginAmerica I didn't today... Must mean I n...,NaN,2015-02-24 11:15:48 -0800,Lets Play,Central Time (US & Canada)
3,570301031407624196,negative,1.0000,Bad Flight,0.7033,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica it's really aggressive to blast...,NaN,2015-02-24 11:15:36 -0800,NaN,Pacific Time (US & Canada)
4,570300817074462722,negative,1.0000,Can't Tell,1.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica and it's a really big bad thing...,NaN,2015-02-24 11:14:45 -0800,NaN,Pacific Time (US & Canada)

##Detect Missing Value percent of each column

In [63]:
(tweets_df.isna().sum() / len(tweets_df)) * 100

tweet_id                         0.000000
airline_sentiment                0.000000
airline_sentiment_confidence     0.000000
negativereason                  37.308743
negativereason_confidence       28.128415
airline                          0.000000
airline_sentiment_gold          99.726776
name                             0.000000
negativereason_gold             99.781421
retweet_count                    0.000000
text                             0.000000
tweet_coord                     93.039617
tweet_created                    0.000000
tweet_location                  32.329235
user_timezone                   32.923497
dtype: float64

#Exploratory Data Analysis(EDA)
Exploratory Data Analysis refers to the critical process of performing initial investigations on data to discover patterns, spot anomalies, test hypotheses, and check assumptions with the help of summary statistics and graphical representations.

The overall objective of exploratory data analysis is to obtain vital insights and hence usually includes the following sub-objectives: 


*   Identifying and removing data outliers
*   Identifying trends in time and space
*   Uncover patterns related to the target
*   Creating hypotheses and testing them through experiments
*   Identifying new sources of data

## number of unique value of each column

In [64]:
tweets_df.nunique()

tweet_id                        14485
airline_sentiment                   3
airline_sentiment_confidence     1023
negativereason                     10
negativereason_confidence        1410
airline                             6
airline_sentiment_gold              3
name                             7701
negativereason_gold                13
retweet_count                      18
text                            14427
tweet_coord                       832
tweet_created                   14247
tweet_location                   3081
user_timezone                      85
dtype: int64

In [65]:
tweets_df['tweet_created'].min()

'2015-02-16 23:36:05 -0800'

##convert a scalar, array-like, Series or DataFrame to a pandas datetime object
Series.dt.date : Returns numpy array of python datetime.date objects.
Namely, the date part of Timestamps without time and timezone information.

In [68]:
print(type(tweets_df['tweet_created']))
tweets_df['tweet_created'] = pd.to_datetime(tweets_df['tweet_created']).dt.date
#tweets_df['tweet_created'] = pd.to_datetime(tweets_df['tweet_created'])

<class 'pandas.core.series.Series'>

In [67]:
print("Since: ", tweets_df['tweet_created'].min())
print("Until :", tweets_df['tweet_created'].max())
print("Number Of days :", tweets_df['tweet_created'].nunique())

Since:  2015-02-16
Until : 2015-02-24
Number Of days : 9

In [69]:
tweets_df.groupby('tweet_created').size()

tweet_created
2015-02-16       4
2015-02-17    1408
2015-02-18    1344
2015-02-19    1376
2015-02-20    1500
2015-02-21    1557
2015-02-22    3079
2015-02-23    3028
2015-02-24    1344
dtype: int64